#layout-header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #2196f3;
  color: white;
  box-shadow: 1px 10px 5px 1px #d5d5d5; }
  #layout-header nav .mini-logo p {
    margin: 5px;
    font-size: 2rem;
    font-weight: bold; }
    #layout-header nav .mini-logo p a {
      text-transform: capitalize; }
  #layout-header nav .auth-links ul {
    margin: 1rem;
    display: flex;
    list-style: none; }
    #layout-header nav .auth-links ul li {
      margin: 0 10px;
      font-size: 1.4rem; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
